.about{
    height: 90vh;
}
.about .aboutTop{
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin-top: 20px
}
.about h1{
    text-align: center;
    margin-top: 20px;
    color: brown;
}
.about p{
    text-align: center;
    margin: 20px;
}