.mainPage{
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.mainPage .order{
    margin-left: 50px;
    margin-bottom: 50px;
}
.mainPage .order button{
    background-color: brown;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 100px;
    transition: 1.1s;
}
.mainPage .order button:hover{
    cursor: pointer;
    transform: translateX(20%);
}
